<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="COVID_19Calc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <COVID_19Calc.Properties.Settings>
            <setting name="Pop" serializeAs="String">
                <value>51257</value>
            </setting>
            <setting name="OpenFile" serializeAs="String">
                <value>JoplinCOVIDData</value>
            </setting>
            <setting name="Date" serializeAs="String">
                <value>09/10/2020 22:56:04</value>
            </setting>
        </COVID_19Calc.Properties.Settings>
    </userSettings>
</configuration>